configuration {
	modes: "drun,run,ssh";
	show-icons: true;
	font: "Roboto Mono Medium 28";
	kb-row-up: "Up,Control+k";
	kb-row-down: "Down,Control+j";
	kb-remove-to-eol: "Control+p";
	kb-accept-entry: "Control+m,Return,KP_Enter";
	terminal: "foot";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "/usr/share/rofi/themes/solarized.rasi"
